{% extends "@Contao/be_main" %}

{% block main_content %}
  <div class="tl_listing_container">

    <form>
      <fieldset>
        <label for="commande">Commande</label>
        <select name="commande" id="commande" required>
          <option selected disabled value="">Select a command</option>
          {% for key, commande in commandes %}
            <option value="{{ key }}">{{ commande }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Submit">
      </fieldset>
    </form>
    {% if retour %}
      <pre style="background-color: black"><code>{{ retour |raw }}</code></pre>
    {% endif %}
  </div>
{% endblock %}